@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gothic+A1&family=Manrope&display=swap');
* {
    margin: 0;
    padding: 0;
    
}
body {

    background: rgb(202, 202, 202);
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 39px;
    line-height: 1.7;
}
nav {
    padding: 0 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    height: 64px;
}
ul, li {
    display: flex;
    padding-left: 10px;
    font-size: 27px;
    line-height: 2.6;
    font-family: 'Bebas Neue', cursive;

    
}
a {
    text-decoration: none;
    color: white;
}
.container {
    padding: 20px 100px;
}
.container h3 {
    font-size: 45px;
    font-family: 'Bebas Neue';
}
.card_items {
    background: black;
    border-radius: 35px;
    color: white;
    width: 300px;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card_items h3 {
    font-family: 'Gothic A1', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
}
.card_items p {
    
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.card img {
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card_items {
    width: 300px;
    /* height: 400px; */
}
.card_items img{
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.button button {
    background-color: white;
    font-size: 23px;
    color: black;
    outline: none;
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.button button:hover {
    background-color: black;
    color: white;
}
.button{

    display: flex;
    justify-content: center;
}
.search {
    display: flex;
    justify-content: center;
}
.search input {
    border: 1px solid rgb(209, 209, 209);
    width: 50%;
    font-size: 21px;
    outline: none;
    padding: 6px 5px;
    border-radius: 10px;
}